.home {
  height: 100vh;
  /* overflow: hidden; */
  overflow-x: hidden;
  width: 100vw;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  /* padding: 10px 20px; */
}
thead {
  background-color: #dee90d;
}
th {
  padding: 12px 18px;
  text-align: left;
  font-weight: 700;
  color: #333333;
}
td {
  padding: 7px 18px;
  text-align: left;
}
tbody tr {
  border-top: 1px solid #eaeaee;
  border-bottom: 1px solid #eaeaee;
  cursor: pointer;

}
tbody tr:hover {
  background-color: #2acdc8c3;
}

.search-message {
  padding: 8px 16px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 64, 0);
}
